@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import url(reset.css);

*{
    margin: 0;
    padding: 0;
}

:root{
    --font: 'Manrope', sans-serif;
    --blue: hsl(193, 38%, 86%);
    --green: hsl(150, 100%, 66%);
    --slate: hsl(217, 19%, 38%);
    --dark-slate: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}

/* FONTS AND COLORS */

body{
    font-family: var(--font);
    font-size: 14px;
}

main{
    background-color: var(--dark-blue);
    text-align: center;
}

.content-wrapper{
    background-color: var(--dark-slate);
}

.advice-id-section{
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--green);
    font-weight: 600;
}

.advice-text-section{
    font-size: 1.6rem;
    color: var(--blue);
}

.reroll-button{
    background-color: var(--green);
}

/* LAYOUTS */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.content-wrapper{
    margin: 1rem;
    /* max-width: 22rem; */
    max-width: 30rem;
    border-radius: 4%;
    padding: 2rem 1rem 0;
}

.advice-id-section{
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.advice-text-section{
    margin: 0.2rem;
}

.reroll-button{
    transform: translateY(1.5rem);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.reroll-button>img{
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reroll-button:hover{
    box-shadow: 0 0 2rem var(--green);
}

.active{
    animation: roll 0.5s 1 forwards;
}


@keyframes roll{
    0%{
        transform: translateY(1.5rem) rotate(0deg);
        transform-origin: center;
    }
    100%{
        transform: translateY(1.5rem) rotate(180deg);
        transform-origin: center;
    }
}

/* QUERIES */

@media (min-width: 450px){
    .content-wrapper{
        padding: 2rem 2rem 0;
        box-shadow: 1rem 1.5rem 2.5rem hsl(220, 31%, 13%);
    }
    .advice-text-section{
        margin-bottom: 1rem;
    }
}


/* FOOTER */

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0.5%;
    width: 100%;
    color: hsl(279, 6%, 55%);
}

.attribution a {
    color: hsl(228, 33%, 46%);
}